nginx:
  image: fntlnz/nginx:1.6.2
  volumes:
    - docker/nginx/conf:/usr/local/nginx/conf
    - .:/var/www/kokoro
  ports:
    - "127.0.0.50:80:80"
    - "127.0.0.50:8090:8090"
  links:
    - fpm:fpm

fpm:
  build: docker/dockerfiles/php-fpm
  volumes:
    - docker/php-fpm/etc:/usr/local/php/etc
    - .:/var/www/kokoro
  links:
    - mongo:mongo

mongo:
  image: mongo:3.0.4
  volumes:
    - docker/mongo/data:/data/db