# This file is intended for use with a VM (i.e. docker-machine)
# NOTE:
# - the /data/kokoro/mongo/db folder must exist within the VM
# - zend_debugger will be used instead of xdebug
# - the IP and the mongo data path can be customized
nginx:
  image: fntlnz/nginx:1.6.2
  volumes:
    - docker/nginx/conf:/usr/local/nginx/conf
    - .:/var/www/kokoro
  ports:
    - "172.16.42.60:80:80"
    - "172.16.42.60:8090:8090"
  links:
    - fpm:fpm

fpm:
  build: docker/dockerfiles/php-fpm
  volumes:
    - docker/php-fpm-zenddebugger/debugger/php-5.6.x/ZendDebugger.so:/usr/local/php/include/php/ZendDebugger.so
    - docker/php-fpm-zenddebugger/etc:/usr/local/php/etc
    - .:/var/www/kokoro
  links:
    - mongo:mongo

mongo:
  image: mongo:3.0.4
  volumes:
    - /data/kokoro/mongo/db:/data/db
  ports:
    - "172.16.42.60:27017:27017"
